// General color names
$base-green-primary: #5ECE7B !default;
$base-green-secondary: #9EE2B0 !default;
$base-dark-primary: #191919 !default;
$base-dark-secondary: #737680 !default;
$base-gray-primary: #6A6E7E !default;
$base-gray-secondary: #e5dfdf !default;
$base-light-primary: #F1F2F3 !default;
$base-light-secondary: #FFFFFF !default;
$base-pink-primary: #c91e3a !default;
$base-pink-secondary: #FFF8F7 !default;
$base-yellow-primary: #FFDE3B !default;
$base-yellow-secondary:#FFFCED !default;
$base-blue-primary: #6699CC !default;
$base-blue-secondary: #F5F7FA !default;
$base-black: #000000 !default;
$base-white: #FFFFFF !default;

// Accent
$base-accent-primary: $base-green-primary !default;
$base-accent-secondary: $base-green-secondary !default;

// Text
$base-text-primary: $base-dark-primary !default;
$base-text-secondary: $base-gray-secondary !default;
$base-text-on-light: $base-black !default;
$base-text-on-dark: $base-white !default;
$base-text-link: $base-dark-secondary !default;
$base-text-link-hover: $base-dark-primary !default;

// Background
$base-bg-primary: $base-light-primary !default;
$base-bg-secondary: $base-light-secondary !default;

// Border
$base-border: $base-light-primary;

// Theme colors
$base-primary: $base-green-primary !default;
$base-secondary: $base-dark-primary !default;
$base-info: $base-blue-primary !default;
$base-success: $base-green-primary !default;
$base-warning: $base-yellow-primary !default;
$base-danger: $base-pink-primary !default;
$base-light: $base-light-primary !default;
$base-dark: $base-dark-primary !default;

// Text colors on theme colors bg
// Using YIQ by default
// $base-on-primary: color-yiq($base-primary) !default;
// $base-on-secondary: color-yiq($base-secondary) !default;
// $base-on-info: color-yiq($base-info) !default;
// $base-on-success: color-yiq($base-success) !default;
// $base-on-warning: color-yiq($base-warning) !default;
// $base-on-danger: color-yiq($base-danger) !default;
// $base-on-light: color-yiq($base-light) !default;
// $base-on-dark: color-yiq($base-dark) !default;

$base-on-primary: $base-white !default;
$base-on-secondary: $base-white !default;
$base-on-info: $base-white !default;
$base-on-success: $base-white !default;
$base-on-warning: $base-white !default;
$base-on-danger: $base-white !default;
$base-on-light: $base-white !default;
$base-on-dark: $base-white !default;

// Map colors palette
$colors-map: ('primary': ('bg': $base-primary,
    'text': $base-on-primary),
  'secondary': ('bg': $base-secondary,
    'text': $base-on-secondary),
  'info': ('bg': $base-info,
    'text': $base-on-info),
  'success': ('bg': $base-success,
    'text': $base-on-success),
  'warning': ('bg': $base-warning,
    'text': $base-on-warning),
  'danger': ('bg': $base-danger,
    'text': $base-on-danger),
  'light': ('bg': $base-light,
    'text': $base-on-light),
  'dark': ('bg': $base-dark,
    'text': $base-on-dark),
  'white': ('bg': $base-white,
    'text': $base-black),
  'black': ('bg': $base-black,
    'text': $base-white));