// @import url('https://rsms.me/inter/inter.css');

*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

html {
  overflow: hidden !important;
  font-size: $font-size-regular-desktop;

  @supports (font-variation-settings: normal) {
    font-family: $body-font-family-primary;
  }
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.v-enter-active,
.v-leave-active,
.animated {
  animation-duration: 0.5s !important;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }

  &:visited {
    color: inherit;
  }
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}

#__layout {
  height: 100vh;
}

.viewport {
  @include debugger(grey);

  // width: $app-width;
  // height: calc(#{$app-width} * (9/16));
  width: 100%;
  height: 100%;
  position: relative;
  // display: grid;
  // grid-template-columns: 16vmax auto;
}