// @import url('https://rsms.me/inter/inter.css');

*,
*:before,
*:after {
  box-sizing: border-box;
}

@mixin for-desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

html {
  overflow: hidden;
  font-size: $--font-size-base;

  @supports (font-variation-settings: normal) {
    font-family: "Gotham Bold",
      sans-serif !important;
  }
}

body {
  // display: grid;
  // place-items: center;
  min-height: 100vh;
  background-color: $color--primary;
  color: $color--text-reguler;
  overflow: hidden;
}

.v-enter-active,
.v-leave-active,
.animated {
  animation-duration: 0.5s !important;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active {
    color: inherit;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }

  &:visited {
    color: inherit;
  }
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}

#__layout {
  height: 100vh;
}

.viewport {
  @include debugger(grey);

  // width: $app-width;
  // height: calc(#{$app-width} * (9/16));
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.main {
  @include debugger(purple);

  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  height: auto;
  min-height: 80vh;

  &__wrapper,
  &__body {
    height: 100%;
    width: 100%;
  }

  // &__body {
  //   padding: 12vh 0 0;
  // }
}